{% extends 'base.html' %}

{% block title %}Collections - Tulsattva{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-5" style="font-family: 'Playfair Display', serif; color: #d4af37;">
        Our Collections
    </h1>
    
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://jisora.com/cdn/shop/files/0N8A8151_3fe8bc50-58d6-43a2-be6c-b67b1c265dab.jpg" class="card-img-top" alt="Festival Collection">
                <div class="card-body">
                    <h5 class="card-title">Festival Collection</h5>
                    <p class="card-text">Special collection for festivals and celebrations</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://jisora.com/cdn/shop/products/0N8A2606.jpg" class="card-img-top" alt="Wedding Collection">
                <div class="card-body">
                    <h5 class="card-title">Jumsuits & Playsuits</h5>
                    <p class="card-text">Exclusive designs for weddings</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}