{% extends 'base.html' %}

{% block title %}Ethnic Wear - Tulsattva{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-5" style="font-family: 'Playfair Display', serif; color: #d4af37;">
        Ethnic Wear Collection
    </h1>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://assets0.mirraw.com/images/12605461/image_zoom.jpeg" class="card-img-top" alt="Sarees">
                <div class="card-body">
                    <h5 class="card-title">Sarees</h5>
                    <p class="card-text">Traditional and contemporary sarees</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://anayadesignerstudio.com/cdn/shop/files/rani_pink_heavy_flair_chaniya_choli.webp" class="card-img-top" alt="Lehengas">
                <div class="card-body">
                    <h5 class="card-title">Lehengas</h5>
                    <p class="card-text">Designer lehengas for special occasions</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://images.meesho.com/images/products/508308303/a6n3y_512.webp" class="card-img-top" alt="Kurtis">
                <div class="card-body">
                    <h5 class="card-title">Kurtis</h5>
                    <p class="card-text">Stylish kurtis for everyday wear</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}