{% extends 'base.html' %}

{% block title %}Office Wear - Tulsattva{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-5" style="font-family: 'Playfair Display', serif; color: #d4af37;">
        Office Wear Collection
    </h1>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://jisora.com/cdn/shop/files/SPP-3221.jpg" class="card-img-top" alt="Formal Suits">
                <div class="card-body">
                    <h5 class="card-title">Formal Suits</h5>
                    <p class="card-text">Professional ethnic suits</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://jisora.com/cdn/shop/files/SPP-3660_b7dfe337-1a6f-47d0-8c4e-462f01504bb8.jpg" class="card-img-top" alt="Office Sarees">
                <div class="card-body">
                    <h5 class="card-title">Printed Cotton Black Top</h5>
                    <p class="card-text">Elegant sarees for workplace</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://jisora.com/cdn/shop/files/JISORA-27.jpg" class="card-img-top" alt="Corporate Dresses">
                <div class="card-body">
                    <h5 class="card-title">Corporate Dresses</h5>
                    <p class="card-text">Modern ethnic corporate wear</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}