{% extends 'base.html' %}

{% block title %}Tops & Tunics - Tulsattva{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-5" style="font-family: 'Playfair Display', serif; color: #d4af37;">
        Tops & Tunics Collection
    </h1>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://jisora.com/cdn/shop/products/0N8A4588_80e8a3c0-9b96-47e7-a3b7-c3e8d26a336f.jpg" class="card-img-top" alt="Casual Tops">
                <div class="card-body">
                    <h5 class="card-title">Casual Tops</h5>
                    <p class="card-text">Comfortable casual wear</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://jisora.com/cdn/shop/products/0N8A4639_47f60a23-9f19-4c70-8d56-cb19df5bd587.jpg" class="card-img-top" alt="Designer Tunics">
                <div class="card-body">
                    <h5 class="card-title">Designer Tunics</h5>
                    <p class="card-text">Stylish designer tunics</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://jisora.com/cdn/shop/files/SPP-3394.jpg" class="card-img-top" alt="Party Wear">
                <div class="card-body">
                    <h5 class="card-title">Party Wear</h5>
                    <p class="card-text">Elegant party tops and tunics</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}